body {
  font-family: 'Lato', sans-serif;
  background-color: #01163b;
  color: #ffffff;
  padding: 2rem;
  line-height: 1.6;
}

h1 {
  font-size: 30px;
  text-align: center;
}

h2 {
  font-size: 24px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

p {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

header {
  text-align: center;
}

.blog_name {
  font-size: 36px;
  font-weight: bold;
  max-width: none;
}

.tagline {
  text-align: center;
  max-width: none;
  padding-left: 10px;
  padding-right: 10px;
}

.nav_links {
  margin-right: 25px;
  font-size: 24px;
}

footer {
  text-align: center;
