body {
  font-family: 'Lato', sans-serif;
  background-color: #01163b;
  color: #ffffff;
  padding: 2rem;
  line-height: 1.6;
}

h1 {
  font-size: 36px;
  text-align: center;
}

p, h2, h3, h4, h5, h6 {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

.blog_name {
  font-size: 30px;
  font-weight: bold;
  max-width: none;
  margin: 0;
  text-align: center;
  margin-bottom: 0.25rem;
}

.tagline {
  text-align: center;
  max-width: none;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 0;
}

hr {
  margin-top: 30px;
}

.nav_links {
  margin-right: 25px;
  font-size: 24px;
}

nav {
  max-width: none;
  text-align: left;
}

.post_list {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.post_meta {
  text-align: center
}

#comments {
  margin-top: 3rem;
}

#comments h2 {
  margin-bottom: 1rem;
}
  
footer {
  text-align: center;
}
