body {
  font-family: 'Lato', sans-serif;
  background-color: #01163b;
  color: #ffffff;
  padding: 2rem;
  line-height: 1.6;
}

h1 {
  margin-top: 30px;
  font-size: 30px;
}

p {
  max-width: 600px;
}

.blog_name {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  max-width: none;
}
.tagline {
  margin-top: -30px;
  text-align: center;
  max-width: none;
}

