body {
  font-family: 'Lato', sans-serif;
  background-color: #01163b;
  color: #ffffff;
  padding: 2rem;
  line-height: 1.6;
}

h1 {
  margin-top: 30px;
  font-size: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

p {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.blog_name {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  max-width: none;
  padding-left: 10px;
  padding-right: 10px;
}
.tagline {
  margin-top: -30px;
  text-align: center;
  max-width: none;
  padding-left: 10px;
  padding-right: 10px;
}

.nav_links {
  margin-right: 50px;
}

