body {
  font-family: 'Lato', sans-serif;
  background-color: #01163b;
  color: #ffffff;
  padding: 2rem;
  line-height: 1.6;
}

h1, h2 {
  color: #4da3ff;
}

h1 {
  margin-left: auto;
  margin-right: auto;
}

p {
  max-width: 600px;
}

.tagline {
  margin-top: -30px;
  margin-left: auto;
  margin-right: auto;
}

