body {
  font-family: 'Lato', sans-serif;
  background-color: #01163b;
  color: #ffffff;
  padding: 2rem;
  line-height: 1.6;
  margin-left: auto;
  margin-right: auto;
}

.main_content {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: 36px;
  margin: 15px auto;
  text-align: center;
}

h2 {
  font-size: 30px;
  margin: 10px auto;
}

h3 {
  font-size: 24px;
  margin: 8px auto;
}

h4 {
  font-size: 18px;
  margin: 6px auto;
}

img {
  margin: 10px auto;
  max-width: 600px;
  width: auto;
  height: auto;
  display: block;
}

.blog_name {
  font-size: 30px;
  font-weight: bold;
  max-width: none;
  margin: 0;
  text-align: center;
  margin-bottom: 0.25rem;
  margin-left: auto;
  margin-right: auto;
}

.tagline {
  text-align: center;
  max-width: none;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}

hr {
  margin-top: 30px;
}

.nav_links {
  margin-right: 25px;
  font-size: 24px;
}

nav {
  margin-left: 0;
  margin-right: 0;
  width: 100vw;
  text-align: left;
}

.post_list {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.post_meta {
  text-align: center;
}

#comments {
  margin-top: 3rem;
}

#comments h2 {
  margin-bottom: 1rem;
}

html, body {
  overflow-x: hidden;
}

pre {
  overflow-x: auto;
}

a, a:visited {
  color: #0000FF;
}
