<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
</head>
<body>

  <header>
    <p class="blog_name">Code Outside the Box</p>
    <p class="tagline">Learning about programming, the fun and interactive way.</p>
    <nav class="nav_links">
      <a href="{{ '/' | relative_url }}">Home</a>
      <a href="{{ '/about.html' | relative_url }}">About</a>
    </nav>
  </header>

  <main>
    {{ content }}
  </main>

  <footer>
    <p>&copy; 2025 Code Outside the Box</p>
  </footer>

</body>
</html>
