<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="Learning programming the fun and interactive way with coding projects, exercises, and quick tips.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} | Code Outside the Box</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  </head>
  <body>
    <header>
      <nav>
        <a href="https://microchip818.github.io/index.html" class="nav_links">Homepage</a>
        <a href="https://microchip818.github.io/about.html" class="nav_links">About Me</a>
        <a href="https://github.com/microchip818" class="nav_links">GitHub</a>
      </nav>
      <p class="blog_name">Code Outside the Box</p>
      <p class="tagline">Learning about programming, the fun and interactive way.</p>
    </header>
    <hr>
    <div class="main_content">
      <main>
        <h1>{{ page.title }}</h1>
        {{ content }}
      </main>
      <footer>
      <p>© 2025 Code Outside the Box</p>
      </footer>
    </div>
  </body>
</html>
